# Ignore All:
*

# Traverse Directories
!*/

# Whitelist:
!/apitools/**
!/androidtools/**
!/datatools/**
!/gfxtools/**
!/i3tools/**
!/luke-i3cmds/**
!/luke-tools/**
!/mantools/**
!/musictools/**
!/pkgtools/**
!/polybar/**
!/proctools/**
!/termtools/**
!/themetools/**
!/uitools/**
!LICENSE
!README.md
!.gitignore
